-e git+https://github.com/basvandriel/abn-amro-assignment@1c4ee3190de3dc8b8804e21d474fff6d5bd68d65#egg=abn_assignment
black==22.12.0
click==8.1.3
extreqs==0.1.1
Flask==2.2.2
Flask-SQLAlchemy==3.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mypy-extensions==0.4.3
pathspec==0.10.3
platformdirs==2.6.2
psycopg2-binary==2.9.5
python-dotenv==0.21.0
SQLAlchemy==1.4.45
Werkzeug==2.2.2
